body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    margin: 20pxpx;
    font-weight: normal;
    color: #22577a;
} 

h1 {
    font-size: 24px;
  
}
h2 {
    font-size: 20px;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
}

header li a {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
}

header li a i {
    font-size: 30px;
}

header li + li {
    margin-left: 15px;
}
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity .3s;
}

a:hover {
    opacity: .5;
}



p {
    margin: 10px;
    line-height: 1.6;
}

p + p {
    margin-top: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

video {
    vertical-align: bottom;
}

.btn {
    display: block;
    width: 160px;
    background: #be4343;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    font-weight: bold;

}

.container {
    width: calc(100% - 32px);
    margin: 0 auto;
   max-width: 800px;

}


header {
    padding: 16px 0;

   
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    background-color: #99e6ff;
    background-image: url(../img/bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-top: 64px;
    text-align: center;
}

.slider {
    
    width: 500px;
    height: 500px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 1s;
  }

.hero p　{
    margin-top: 8px;
}

.hero .btn {
    margin: 64px auto 0;
   
}

.hero img {
    margin-top: 64px;
}

.features {
    padding: 64px 0;
}

.features h1 {
    text-align: center;
    padding-bottom: 64px;
}

.features .pic {
    padding: 2px;
    margin-top: 40px;


}

.pic {
    text-align: center;
    margin-top: 20px;
}

.features img-vw {
    width: 100vw ;
}

.features h2 {
    padding-bottom: 16px;
}

.kawai {
   
   padding-top: 100px;
}

.features section + section {
    margin-top: 40px;
}

.voices {
    background: #bdff99;
    padding:64px 0;
}

.voices　h1 {
    text-align: center;
    padding-bottom: 64px;
}

.voices section {
    background: #fff;
    padding: 16px;
    border-radius: 16px;
}

.voices footer {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
}

.voices section + section {
    margin-top: 16px;
}

.call-to-action {
    padding: 64px 0;

}

.call-to-action {
    text-align: center;
    padding-bottom: 100px;
    background-color: #0a5b65;
    background-image: url(../img/mario.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}
    

.call-to-action .btn {
    margin: 0 auto;


}

.copyright {
    background: #323435;
    padding: 64px 0;
    text-align: center;
}

.copyright small{
    font-size: 16px;
    color: #eee;
}

@media (min-width: 600px) {

    .hero .container {
        display: flex;
        align-item: center;
    }

    .hero .desc,
    .hero .pic{
    width: 50vw;
}

.hero img-vw {
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0;
}

.features section {
   display: flex;
}

.features section:nth-child(odd) {
    flex-direction: row-reverse;
}

.voices .container {
    display: flex;
    gap: 16px;
}

.voices section + section {
    margin-top: 0;

}

.voices section {
    width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

}

